#navbar {
    background-color: #ff726f;
    font-weight: bold;
}

#hero-image {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 50px auto 50px auto;
}

#title .row button {
    font-weight: bold;
    font-size: 16px;
}

#hero-text {
    margin: auto;

}

body {
    /*background-color: red;*/
}

body {
    font-family: Montserrat, sans-serif;
}
.title  {
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 1.7rem;
    line-height: 1.2;
}

.quick-intro {
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
    font-size: 1rem;
}

.container-fluid {
    padding: 3% 5%;
}

#hero-text p {
    margin-top: 30px;
    padding-bottom: 30px;
}

.navbar-brand, .navbar-toggler, #navbarToggle {
    padding-left: 5%;
    padding-right: 5%;

}

#principles-section {
    background-color: #ff726f;
    color: white;
    padding: 100px 0px;
}

#principles-section h3 {
    font-weight: bold;
}




